.nestedActivityTable th,
tr,
tbody,
td {
    background-color: rgba(17, 70, 33, 0.315) !important;
}

.activityTable tr,
th,
tbody,
td {
    background-color: rgb(231, 225, 225) !important;
    color: black;
    font-family: sans-serif;
}

.expand-cell-header {
    pointer-events: none;
}
