.container {
    display: flex;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 10px;
}

.calendar {
    background-color: rgba(250, 235, 215, 0.479);
}

.fitnessTables {
    display: inline-flexbox;
    position: relative;
    margin-left: 25%;
    gap: 10px;
    /* max-width: 400px; */
    width: 50%;
    float: left;
}
