body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Chrome 10-25, Safari 5.1-6 */
    background: rgba(74, 76, 80, 0.39);

    /* background: linear-gradient(
        to right,
        rgba(18, 16, 124, 0.726),
        rgb(41, 79, 184)
    ); */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
