input {
    text-align: center;
}

input[type="text"] {
    width: 400px;
}

input:invalid:required {
    border: 2px solid salmon;
}

input:valid {
    border: 2px solid black;
}

form {
    width: 400px;
}
