.modalBody form {
    display: flexbox;
}

input[type="text"] {
    width: 100px;
}

html,
body {
    width: 100%;
}

/* Tables */
.activityTable {
    position: relative;
    margin: 10px auto;
    padding: 0;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
}

.activityTable thead tr {
    background-color: #8a8686;
    font-weight: bold;
}

.activityTable tr {
    margin: 0;
    padding: 0;
    border: 0;
    /* border: 1px solid #999; */
    width: 100%;
}

.activityTable tr td {
    margin: 0;
    padding: 4px 8px;
    border: 0;
}

.activityTable tbody tr:nth-child(0) {
    background-color: #eee;
}
